<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{commonAdmin/library :: link}"></th:block>
    <th:block th:insert="~{commonAdmin/library :: script}"></th:block>
    <title>Document</title>
</head>

<body>
    <th:block th:insert="~{commonAdmin/header}"></th:block>

    <div class="content-admin">
        <div class="container-fluid pl-0 pr-0">
            <div class="row no-gutters">
                <th:block th:insert="~{commonAdmin/sidebar}"></th:block>
                <!-- Content right -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-9 min-vh-100 content-right">
                    <div class="list-item ml-2 mr-2 mt-2">
                        <h2 class="title-crud text-center text-primary">Thêm sách</h2>
                        <h4 class="text-success" th:if="${messageSuccess}" th:text="${messageSuccess}"></h4>
                        <h4 class="text-danger" th:if="${messageFail}" th:text="${messageFail}"></h4>
                        <div class="table-all table-responsive p-3" style="background-color: #fff;">
                            <form th:action="@{/admin/book/add}" th:object="${bookDTO}" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="title">Tên sách:</label>
                                    <input th:field="${bookDTO.title}" type="text" class="form-control" placeholder="Nhập tên sách">
                                    <p class="text-danger" th:if="${#fields.hasErrors('title')}" th:text="#{book.title.required}"></p>
                                </div>
                                <div class="form-group">
                                    <label for="isbn">ISBN:</label>
                                    <input th:field="${bookDTO.isbn}" type="text" class="form-control" placeholder="Nhập mã isbn">
                                </div>
                                <div class="form-group">
                                    <label for="categories">Danh mục:</label>
                                    <select name="categoryId" class="form-control" id="categories">
                                        <option th:each="category : ${categories}"
                                                th:value="${category.id}"
                                                th:text="${category.name}"/>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="author">Tác giả:</label>
                                    <select name="authorId" class="form-control" id="author">
                                                <option th:each="author : ${authors}"
                                                th:value="${author.id}"
                                                th:text="${author.name}"/>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="publisher">Nhà xuất bản:</label>
                                    <select name="publisherId" class="form-control" id="publisher">
                                        <option th:each="publisher : ${publishers}"
                                                th:value="${publisher.id}"
                                                th:text="${publisher.name}"/>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="price">Gia:</label>
                                    <input th:field="${bookDTO.price}" type="number" class="form-control">
                                    <p class="text-danger" th:if="${#fields.hasErrors('price')}" th:text="#{book.price.required}"></p>
                                </div>
                                <div class="form-group">
                                    <label for="discount">Giam gia:</label>
                                    <input th:field="${bookDTO.discount}"  th:max="100" th:min="0" type="number" class="form-control">
                                    <p class="text-danger" th:if="${#fields.hasErrors('discount')}" th:text="#{book.discount.required}"></p>
                                </div>
                                <div class="form-group">
                                    <label for="description">Mô tả:</label>
                                    <textarea th:field="${bookDTO.description}" class="form-control"rows="4"></textarea>
                                    <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:text="#{book.description.required}"></p>
                                </div>
                                <div class="form-group">
                                    <label for="img">Hình ảnh:</label>
                                    <br>
                                    <input th:field="${bookDTO.file}" type="file" id="img">
                                </div>
                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- content right end -->
            </div>
        </div>
    </div>

    <th:block th:insert="~{commonAdmin/footer}"></th:block>
</body>

</html>