<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{commonAdmin/library :: link}"></th:block>
    <th:block th:insert="~{commonAdmin/library :: script}"></th:block>
    <title>Trang chủ</title>
</head>

<body>

    <!--  header start -->
    <th:block th:insert="~{commonAdmin/header}"></th:block>
    <!--  header end  -->

    <div class="content-admin">
        <div class="container-fluid pl-0 pr-0">
            <div class="row no-gutters">

                <th:block th:insert="~{commonAdmin/sidebar}"></th:block>

                <div class="col-12 col-sm-12 col-md-12 col-lg-9 min-vh-100 content-right">
                    <div>
                        <h2 class="p-3">Chào mừng đến trang quản lý</h2>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <th:block th:insert="~{commonAdmin/footer}"></th:block>
</body>

</html>