<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{commonAdmin/library :: link}"></th:block>
    <th:block th:insert="~{commonAdmin/library :: script}"></th:block>
    <title>Document</title>
</head>

<body>
    <th:block th:insert="~{commonAdmin/header}"></th:block>

    <div class="content-admin">
        <div class="container-fluid pl-0 pr-0">
            <div class="row no-gutters">
                <th:block th:insert="~{commonAdmin/sidebar}"></th:block>
                <!-- Content right -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-9 min-vh-100 content-right">
                    <div class="list-item ml-2 mr-2 mt-2">
                        <h2 class="title-crud text-center text-primary">Thêm nhà xuất bản</h2>
                        <h4 class="text-success" th:if="${messageSuccess}" th:text="${messageSuccess}"></h4>
                        <div class="table-all table-responsive p-3" style="background-color: #fff;">
                            <form th:action="@{/admin/publisher/add}" th:object="${publisherDTO}" method="post">
                                <div class="form-group">
                                    <label for="name">Tên nhà xuất bản:</label>
                                    <input th:field="${publisherDTO.name}" type="text" class="form-control" placeholder="Nhập tên nhà xuất bản"
                                        id="name">
                                    <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:text="#{publisher.name.required}"></p>
                                </div>
                                <div class="form-group">
                                    <label for="yearFounded">Năm thành lập:</label>
                                    <input th:field="${publisherDTO.yearFounded}" type="number" class="form-control"
                                           id="yearFounded">
                                </div>
                                <div class="form-group">
                                    <label for="description">Mô tả:</label>
                                    <textarea th:field="${publisherDTO.description}" type="text" class="form-control" id="description"/>
                                    <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:text="#{publisher.description.required}"></p>
                                </div>
                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- content right end -->
            </div>
        </div>
    </div>

    <th:block th:insert="~{commonAdmin/footer}"></th:block>
</body>

</html>