<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{common/library :: link}"></th:block>
    <th:block th:insert="~{common/library :: script}"></th:block>
    <title>Thông tin sách</title>
</head>

<body>
    <!-- Start header -->
    <div th:insert="~{common/header :: .header}"></div>
    <!-- header end -->

    <div class="content w-100 info-content">
        <div class="container-fluid container-lg pl-0 pr-0 info-content-product">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="product-img d-flex align-items-center">
                        <img th:src="${bookDTO.thumbnail}" class="img-thumbnail rounded-0 border-0" th:alt="${bookDTO.title}">
                    </div>
                </div>
                <div
                    class="col-12 col-sm-12 col-md-8 col-lg-8 pl-5 pr-5 pb-1 p-sm-5 p-md-4 p-lg-5 d-flex flex-column justify-content-between">
                    <h3 class="product-name p-2 p-sm-2" th:text="${bookDTO.title}">OK</h3>
                    <div class="product-company-author d-flex justify-content-between p-2 p-sm-2">
                        <div class="w-50">
                            <span>Nhà cung cấp: </span>
                            <strong th:text="${bookDTO.publisherName}"></strong>
                        </div>
                        <div class="w-50">
                            <span>Tác giả: </span>
                            <strong th:text="${bookDTO.authorName}"></strong>
                        </div>
                    </div>
                    <div class="d-flex p-2 p-sm-2">
                        <span>Giá tiền: </span>
                        <strong class="ml-1" th:unless="${bookDTO.discount > 0}" th:text="${bookDTO.price}"></strong>
                        <strong class="ml-1 product-price" th:if="${bookDTO.discount > 0}" th:text="${bookDTO.price}"></strong>
                        <div class="badge sale ml-2" th:if="${bookDTO.discount > 0}" th:text="'-' + ${#numbers.formatPercent(bookDTO.discount/100, 0, 0)}" ></div>
                    </div>
                    <div class="d-flex p-2 p-sm-2" th:if="${bookDTO.discount > 0}">
                        <span>Giảm còn: </span>
                        <strong class="product-price-sale ml-1"
                                th:text="${#numbers.formatCurrency(bookDTO.price * (100 - bookDTO.discount) / 100)}">
                        </strong>
                    </div>
                    <div class="d-flex p-2 p-sm-2">
                        <span>Số lượng:</span>
                        <input class="quantity" type="number" name="quantity" value="1" id="1" min="1" style="height: 25px;">
                    </div>
                    <div class="product-cart-buy justify-content-between d-flex d-sm-block p-2 p-sm-2">
                        <button class="btn add-to-cart" th:value="${bookDTO.id}">
                            <i class="fas fa-shopping-cart"></i>
                            Thêm vào giỏ hàng
                        </button>
                        <a href="#" class="btn">Mua hàng</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid container-lg pl-0 pr-0 info-details-content">
            <div class="row pt-3">
                <div class="col-lg-12">
                    <h4 class="pl-4 pb-2 bg-light" style="height: 46px; line-height: 46px;">Chi tiết sản phẩm</h4>
                </div>
                <div class="col-lg-12 pl-5 pr-5">
                    <table class="table border m-0">
                        <tr>
                            <th style="width: 200px" class="border-right">Mã sản phẩm</th>
                            <td th:text="${bookDTO.isbn}">12132123</td>
                        </tr>

                        <tr>
                            <th class="border-right">Nhà xuất bản</th>
                            <td th:text="${bookDTO.publisherName}">Kim đồng</td>
                        </tr>

                        <tr>
                            <th class="border-right">Tác giả</th>
                            <td th:text="${bookDTO.authorName}">Masashi Kishimoto</td>
                        </tr>

                        <tr>
                            <th class="border-right">Danh mục</th>
                            <td th:text="${bookDTO.categoryName}">Truyện tranh</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-lg-12">
                    <h4 class="pl-4 bg-light" style="height: 46px; line-height: 46px;">Mô tả sản phẩm</h4>
                    <div class="pl-5">
                        <p th:text="${bookDTO.description}"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- footer start -->
    <!-- footer end -->
    <script>
        $(document).ready(function () {
            $('.add-to-cart').click(function () {
                let bookId = document.querySelector(".add-to-cart").value;
                let quantity = document.querySelector(".quantity").value;
                let nal = {
                    'bookDTO': {
                        'id': bookId
                    },
                    'quantity': quantity
                }
                $.ajax(
                    {
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        type: 'POST',
                        url: '[[ ${#servletContext.getContextPath()} ]]/cart/addBook',
                        data: JSON.stringify(nal),
                        success: function (res) {
                            console.log(res)
                            if(res.id != 0) {
                                Swal.fire(
                                    "Thêm sách vào giỏ hàng",
                                    "Thành công",
                                    "success",
                                    "Tiếp tục!",
                                )
                            }
                        },
                        error: function (error) {
                            if(error.status == 403) {
                                window.location.href ="[[ ${#servletContext.getContextPath()} ]]/login";
                            }
                            console.log(error)
                        }
                    }
                )
            })
        })
    </script>
    <div th:insert="~{common/footer :: .footer}"></div>
</body>

</html>