<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{common/library :: link}"></th:block>
    <th:block th:insert="~{common/library :: script}"></th:block>
    <title th:text="${category.name}"></title>
</head>

<body>
    <!-- Start header -->
    <div th:insert="~{common/header :: .header}"></div>
    <!-- header end -->

    <!-- Content-start -->
    <div class="content w-100">
        <!-- new product start -->
        <div class="container-fluid container-lg new-product">
            <div class="row">
                <div class="col-lg-12 title">
                    <span class="d-block" th:text="${category.name}"></span>
                </div>
            </div>
            <div class="row pt-4 product-list">
                <th:block th:each="bookDTO : ${bookDTOS}">
                    <div class="product-item col-6 col-sm-6 col-md-3 col-lg-3 justify-content-center">
                        <div class="position-relative">
                            <a th:href="@{/sach/chi-tiet/{id}(id=${bookDTO.id})}" class="link-proudct-img d-block text-center">
                                <img th:src="${bookDTO.thumbnail}"
                                     class="img-thumbnail border-0"
                                     th:alt="${bookDTO.title}" style="width: 75%">
                            </a>
                            <span class="position-absolute mt-2" style="left: 0; top: 0;" th:if="${bookDTO.discount > 0}">
                                <div class="badge main-label-sale ml-2"
                                     th:text="${#numbers.formatPercent(bookDTO.discount/100, 0, 0)}">
                                </div>
                            </span>
                        </div>
                        <div class="card-body card-product">
                            <h6 class="card-title">
                                <a th:href="@{/sach/chi-tiet/{id}(id=${bookDTO.id})}" class="link-product">
                                    <span th:text="${bookDTO.title}"></span>
                                </a>
                            </h6>
                            <div style="margin-bottom: 16px;" class="d-flex justify-content-between">
                                <span class="main-product-price"
                                      th:if="${bookDTO.discount > 0}" th:text="${#numbers.formatCurrency(bookDTO.price)}">
                                </span>
                                <span class="main-product-price-sale"
                                      th:text="${#numbers.formatCurrency(bookDTO.price * (100 - bookDTO.discount) / 100)}">
                                </span>
                            </div>
                            <div class="d-flex justify-content-center">
                                <a th:href="@{/sach/chi-tiet/{id}(id=${bookDTO.id})}" class="btn btn-index-edit">Chi tiết</a>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
            <div class="row add-product text-center" th:if="${#lists.size(bookDTOS) > 0}">
                <div class="col-lg-12">
                    <ul class="pagination mb-0 justify-content-center">
                        <li class="page-item">
                            <a class="page-link" th:if="${currentPage > 1}"
                               th:href="@{'/danh-muc/' + ${category.slug} + '/page/' + ${currentPage - 1}}">Previous</a>
                            <a class="page-link" th:if="${currentPage == 1}"
                               style="background-color: #cccccc;">Previous</a>
                        </li>
                        <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">
                            <li class="page-item">
                                <a class="page-link" th:if="${i != currentPage}"
                                   th:href="@{'/danh-muc/' + ${category.slug} + '/page/' + ${i} }"
                                   th:text="${i}"></a>
                                <a class="page-link" th:unless="${i != currentPage}"
                                   th:text="${i}" style="background-color: orange;">
                                </a>
                            </li>
                        </th:block>
<!--                        <li class="page-item">-->
<!--                            <a class="page-link" th:if="${currentPage - 2 > 0}"-->
<!--                               th:href="@{'/danh-muc/' + ${category.slug} + '/page/' + ${currentPage - 2} }"-->
<!--                               th:text="${currentPage - 2}"></a>-->
<!--                        </li>-->
<!--                        <li class="page-item">-->
<!--                            <a class="page-link" th:if="${currentPage - 1 > 0}"-->
<!--                               th:href="@{'/danh-muc/' + ${category.slug} + '/page/' + ${currentPage - 1} }"-->
<!--                               th:text="${currentPage - 1}"></a>-->
<!--                        </li>-->
<!--                        <li class="page-item">-->
<!--                            <a class="page-link"-->
<!--                               th:text="${currentPage}" style="background-color: orange;">-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="page-item">-->
<!--                            <a class="page-link" th:if="${currentPage + 1 <= totalPages}"-->
<!--                               th:href="@{'/danh-muc/' + ${category.slug} + '/page/' + ${currentPage + 1} }"-->
<!--                               th:text="${currentPage + 1}"></a>-->
<!--                        </li>-->
<!--                        <li class="page-item">-->
<!--                            <a class="page-link" th:if="${currentPage + 2 <= totalPages}"-->
<!--                               th:href="@{'/danh-muc/' + ${category.slug} + '/page/' + ${currentPage + 2} }"-->
<!--                               th:text="${currentPage + 2}"></a>-->
<!--                        </li>-->
                        <li class="page-item">
                            <a class="page-link" th:if="${currentPage < totalPages}"
                               th:href="@{'/danh-muc/' + ${category.slug} + '/page/' + ${currentPage + 1}}">Next</a>
                            <a class="page-link" th:if="${currentPage == totalPages}"
                               style="background-color: #cccccc;">Next</a>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
        <!-- new product end -->

    </div>

    <!-- footer start -->
    <div th:insert="~{common/footer :: .footer}"></div>
    <!-- footer end -->
    <script>
        //slider
        var w = document.documentElement.clientWidth;
        if (w < 976) {
            var slider = document.getElementById('carousel-slider');
            slider.classList.add('pl-0')
        }

        var resizeWeb = function () {
            var w = document.documentElement.clientWidth;
            var slider = document.getElementById('carousel-slider');
            if (w < 976) {
                slider.classList.add('pl-0')
            } else {
                slider.classList.remove('pl-0');
            }
        }
        window.addEventListener("resize", resizeWeb);
    </script>
</body>

</html>