<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{common/library :: link}"></th:block>
    <th:block th:insert="~{common/library :: script}"></th:block>
    <title>Sách</title>
</head>

<body>
    <!-- Start header -->
    <div th:insert="~{common/header :: .header}"></div>
    <!-- header end -->

    <!-- Content-start -->
    <div class="content w-100">
        <!-- new product start -->
        <div class="container-fluid container-lg new-product">
            <div class="row">
                <div class="col-lg-12 title">
                    <span class="d-block">Sản phẩm giảm giá</span>
                </div>
            </div>
            <div class="row pt-4 product-list">
                <div class="product-item col-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="position-relative">
                        <a href="bookInfo.html" class="link-proudct-img">
                            <img src="/img/harrypottervahondaphuthuytap5.jpg" class="img-thumbnail border-0" alt="">
                        </a>
                        <span class="position-absolute mt-2" style="left: 0; top: 1;">
                            <div class="badge main-label-sale ml-2">-10%</div>
                        </span>
                    </div>
                    <div class="card-body card-product">
                        <h6 class="card-title">
                            <a href="bookInfo.html" class="link-product">
                                <span>Harrypotter và hòn đá phù thủy</span>
                            </a>
                        </h6>
                        <div style="margin-bottom: 16px;" class="d-flex justify-content-between">
                            <span class="main-product-price">
                                230000đ
                            </span>
                            <span class="main-product-price-sale">
                                240000đ
                            </span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="bookInfo.html" class="btn btn-index-edit">Chi tiết</a>
                        </div>
                    </div>
                </div>

                <div class="product-item col-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="position-relative">
                        <a href="bookInfo.html" class="link-proudct-img">
                            <img src="/img/trangquynh.jpg" class="img-thumbnail border-0" alt="">
                        </a>
                        <span class="position-absolute mt-2" style="left: 0; top: 1;">
                            <div class="badge main-label-sale ml-2">-10%</div>
                        </span>
                    </div>
                    <div class="card-body card-product">
                        <h6 class="card-title">
                            <a href="bookInfo.html" class="link-product">
                                <span>Trạng Quỳnh</span>
                            </a>
                        </h6>
                        <div style="margin-bottom: 16px;" class="d-flex justify-content-between">
                            <span class="main-product-price">
                                230000đ
                            </span>
                            <span class="main-product-price-sale">
                                240000đ
                            </span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="bookInfo.html" class="btn btn-index-edit">Chi tiết</a>
                        </div>
                    </div>
                </div>

                <div class="product-item col-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="position-relative">
                        <a href="bookInfo.html" class="link-proudct-img">
                            <img src="img/drstone.jpg" class="img-thumbnail border-0" alt="">
                        </a>
                        <span class="position-absolute mt-2" style="left: 0; top: 1;">
                            <div class="badge main-label-sale ml-2">-10%</div>
                        </span>
                    </div>
                    <div class="card-body card-product">
                        <h6 class="card-title">
                            <a href="bookInfo.html" class="link-product">
                                <span>Dr.Stone</span>
                            </a>
                        </h6>
                        <div style="margin-bottom: 16px;" class="d-flex justify-content-between">
                            <span class="main-product-price">
                                230000đ
                            </span>
                            <span class="main-product-price-sale">
                                240000đ
                            </span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="bookInfo.html" class="btn btn-index-edit">Chi tiết</a>
                        </div>
                    </div>
                </div>

                <div class="product-item col-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="position-relative">
                        <a href="bookInfo.html" class="link-proudct-img">
                            <img src="/img/tgdietquy.jpg" class="img-thumbnail border-0" alt="">
                        </a>
                        <span class="position-absolute mt-2" style="left: 0; top: 1;">
                            <div class="badge main-label-sale ml-2">-10%</div>
                        </span>
                    </div>
                    <div class="card-body card-product">
                        <h6 class="card-title">
                            <a href="bookInfo.html" class="link-product">
                                <span>Thanh gươm diệt quỷ</span>
                            </a>
                        </h6>
                        <div style="margin-bottom: 16px;" class="d-flex justify-content-between">
                            <span class="main-product-price">
                                230000đ
                            </span>
                            <span class="main-product-price-sale">
                                240000đ
                            </span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="bookInfo.html" class="btn btn-index-edit">Chi tiết</a>
                        </div>
                    </div>
                </div>

                <div class="product-item col-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="position-relative">
                        <a href="bookInfo.html" class="link-proudct-img">
                            <img src="/img/harrypottervahondaphuthuytap5.jpg" class="img-thumbnail border-0" alt="">
                        </a>
                        <span class="position-absolute mt-2" style="left: 0; top: 1;">
                            <div class="badge main-label-sale ml-2">-10%</div>
                        </span>
                    </div>
                    <div class="card-body card-product">
                        <h6 class="card-title">
                            <a href="bookInfo.html" class="link-product">
                                <span>Harrypotter và hòn đá phù thủy</span>
                            </a>
                        </h6>
                        <div style="margin-bottom: 16px;" class="d-flex justify-content-between">
                            <span class="main-product-price">
                                230000đ
                            </span>
                            <span class="main-product-price-sale">
                                240000đ
                            </span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="bookInfo.html" class="btn btn-index-edit">Chi tiết</a>
                        </div>
                    </div>
                </div>

                <div class="product-item col-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="position-relative">
                        <a href="bookInfo.html" class="link-proudct-img">
                            <img src="/img/harrypottervahondaphuthuytap5.jpg" class="img-thumbnail border-0" alt="">
                        </a>
                        <span class="position-absolute mt-2" style="left: 0; top: 1;">
                            <div class="badge main-label-sale ml-2">-10%</div>
                        </span>
                    </div>
                    <div class="card-body card-product">
                        <h6 class="card-title">
                            <a href="bookInfo.html" class="link-product">
                                <span>Harrypotter và hòn đá phù thủy</span>
                            </a>
                        </h6>
                        <div style="margin-bottom: 16px;" class="d-flex justify-content-between">
                            <span class="main-product-price">
                                230000đ
                            </span>
                            <span class="main-product-price-sale">
                                240000đ
                            </span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="bookInfo.html" class="btn btn-index-edit">Chi tiết</a>
                        </div>
                    </div>
                </div>

                <div class="product-item col-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="position-relative">
                        <a href="bookInfo.html" class="link-proudct-img">
                            <img src="/img/dragonball.jpg" class="img-thumbnail border-0" alt="">
                        </a>
                        <span class="position-absolute mt-2" style="left: 0; top: 1;">
                            <div class="badge main-label-sale ml-2">-10%</div>
                        </span>
                    </div>
                    <div class="card-body card-product">
                        <h6 class="card-title">
                            <a href="bookInfo.html" class="link-product">
                                <span> 7 viên ngọc rồng</span>
                            </a>
                        </h6>
                        <div style="margin-bottom: 16px;" class="d-flex justify-content-between">
                            <span class="main-product-price">
                                230000đ
                            </span>
                            <span class="main-product-price-sale">
                                240000đ
                            </span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="bookInfo.html" class="btn btn-index-edit">Chi tiết</a>
                        </div>
                    </div>
                </div>

                <div class="product-item col-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="position-relative">
                        <a href="bookInfo.html" class="link-proudct-img">
                            <img src="/img/dtubqt.jpg" class="img-thumbnail border-0" alt="">
                        </a>
                        <span class="position-absolute mt-2" style="left: 0; top: 1;">
                            <div class="badge main-label-sale ml-2">-10%</div>
                        </span>
                    </div>
                    <div class="card-body card-product">
                        <h6 class="card-title">
                            <a href="bookInfo.html" class="link-product">
                                <span>Động từ bất quy tắc</span>
                            </a>
                        </h6>
                        <div style="margin-bottom: 16px;" class="d-flex justify-content-between">
                            <span class="main-product-price">
                                230000đ
                            </span>
                            <span class="main-product-price-sale">
                                240000đ
                            </span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="bookInfo.html" class="btn btn-index-edit">Chi tiết</a>
                        </div>
                    </div>
                </div>

                <div class="product-item col-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="position-relative">
                        <a href="bookInfo.html" class="link-proudct-img">
                            <img src="/img/sachi.jpg" class="img-thumbnail border-0" alt="">
                        </a>
                        <span class="position-absolute mt-2" style="left: 0; top: 1;">
                            <div class="badge main-label-sale ml-2">-10%</div>
                        </span>
                    </div>
                    <div class="card-body card-product">
                        <h6 class="card-title">
                            <a href="bookInfo.html" class="link-product">
                                <span>Naruto</span>
                            </a>
                        </h6>
                        <div style="margin-bottom: 16px;" class="d-flex justify-content-between">
                            <span class="main-product-price">
                                230000đ
                            </span>
                            <span class="main-product-price-sale">
                                240000đ
                            </span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="bookInfo.html" class="btn btn-index-edit">Chi tiết</a>
                        </div>
                    </div>
                </div>

                <div class="product-item col-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="position-relative">
                        <a href="bookInfo.html" class="link-proudct-img">
                            <img src="/img/hora.jpg" class="img-thumbnail border-0" alt="">
                        </a>
                        <span class="position-absolute mt-2" style="left: 0; top: 1;">
                            <div class="badge main-label-sale ml-2">-10%</div>
                        </span>
                    </div>
                    <div class="card-body card-product">
                        <h6 class="card-title">
                            <a href="bookInfo.html" class="link-product">
                                <span>Horimiya</span>
                            </a>
                        </h6>
                        <div style="margin-bottom: 16px;" class="d-flex justify-content-between">
                            <span class="main-product-price">
                                230000đ
                            </span>
                            <span class="main-product-price-sale">
                                240000đ
                            </span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="bookInfo.html" class="btn btn-index-edit">Chi tiết</a>
                        </div>
                    </div>
                </div>

                <div class="product-item col-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="position-relative">
                        <a href="bookInfo.html" class="link-proudct-img">
                            <img src="/img/harrypottervahondaphuthuytap5.jpg" class="img-thumbnail border-0" alt="">
                        </a>
                        <span class="position-absolute mt-2" style="left: 0; top: 1;">
                            <div class="badge main-label-sale ml-2">-10%</div>
                        </span>
                    </div>
                    <div class="card-body card-product">
                        <h6 class="card-title">
                            <a href="bookInfo.html" class="link-product">
                                <span>Harrypotter và hòn đá phù thủy</span>
                            </a>
                        </h6>
                        <div style="margin-bottom: 16px;" class="d-flex justify-content-between">
                            <span class="main-product-price">
                                230000đ
                            </span>
                            <span class="main-product-price-sale">
                                240000đ
                            </span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="bookInfo.html" class="btn btn-index-edit">Chi tiết</a>
                        </div>
                    </div>
                </div>

                <div class="product-item col-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="position-relative">
                        <a href="bookInfo.html" class="link-proudct-img">
                            <img src="/img/harrypottervahondaphuthuytap5.jpg" class="img-thumbnail border-0" alt="">
                        </a>
                        <span class="position-absolute mt-2" style="left: 0; top: 1;">
                            <div class="badge main-label-sale ml-2">-10%</div>
                        </span>
                    </div>
                    <div class="card-body card-product">
                        <h6 class="card-title">
                            <a href="bookInfo.html" class="link-product">
                                <span>Harrypotter và hòn đá phù thủy</span>
                            </a>
                        </h6>
                        <div style="margin-bottom: 16px;" class="d-flex justify-content-between">
                            <span class="main-product-price">
                                230000đ
                            </span>
                            <span class="main-product-price-sale">
                                240000đ
                            </span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="bookInfo.html" class="btn btn-index-edit">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row add-product text-center">
                <div class="col-lg-12">
                    <ul class="pagination mb-0 justify-content-center">
                        <li class="page-item"><a class="page-link" id="paging" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" id="paging" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" id="paging" style="background-color: orange;" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" id="paging" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" id="paging" href="#">Next</a></li>
                      </ul>
                </div>
            </div>
        </div>
        <!-- new product end -->

    </div>

    <!-- footer start -->
    <div class="footer">
        <div class="container-lg footer-content">
            <div class="row">
                <!-- footer left -->
                <div class="col-sm-12 col-md-12 col-lg-4 footer-left">
                    <div class="brand-img">
                        <img src="/img/logo.png" alt="" style="width: 300px;">
                    </div>
                    <div class="footer-desc">
                        <p>Công ty cổ phần HMC</p>
                        <p>Fahasa.com nhận đặt hàng trực tuyến và giao hàng tận nơi. KHÔNG hỗ trợ đặt mua và nhận hàng
                            trực tiếp tại văn phòng cũng như tất cả Hệ Thống Fahasa trên toàn quốc.</p>
                    </div>
                    <div class="footer-conn">
                        <ul class="list-conn">
                            <li class="item-conn d-inline">
                                <a href="#">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li class="item-conn d-inline">
                                <a href="#">
                                    <i class="fab fa-instagram-square"></i>
                                </a>
                            </li>
                            <li class="item-conn d-inline">
                                <a href="#">
                                    <i class="fab fa-twitter-square"></i>
                                </a>
                            </li>
                            <li class="item-conn d-inline">
                                <a href="#">
                                    <i class="fab fa-youtube-square"></i>
                                </a>
                            </li>
                            <li class="item-conn d-inline">
                                <a href="#">
                                    <i class="fab fa-google-play"></i>
                                </a>
                            </li>
                            <li class="item-conn d-inline">
                                <a href="">
                                    <i class="fab fa-app-store-ios"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

                <!-- footer right -->
                <div class="col-md-12 col-lg-8 d-none d-sm-none d-md-block footer-right">
                    <div class="row">
                        <div class="col-4 ">
                            <h5>Dịch vụ</h5>
                            <div class="footer-item">
                                <a href="#">Điều khoản mở rộng</a>
                            </div>
                            <div class="footer-item">
                                <a href="#">Chính sách bảo mật</a>
                            </div>
                            <div class="footer-item">
                                <a href="#">Giới thiệu về HMC</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <h5>Hỗ trợ</h5>
                            <div class="footer-item">
                                <a href="#">Chính sách đổi trả</a>
                            </div>
                            <div class="footer-item">
                                <a href="transport.html">Phương thức vận chuyển</a>
                            </div>
                            <div class="footer-item">
                                <a href="#">Phương thức thanh toán</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <h5>Liên hệ</h5>
                            <div class="footer-item">
                                PM-PX-HN
                            </div>
                            <div class="footer-item">
                                0365.871.025
                            </div>
                            <div class="footer-item">
                                1900.1000
                            </div>
                        </div>
                    </div>

                    <div class="row pt-3 d-none d-sm-none d-md-block d-lg-block">
                        <div class="col-md-12 col-lg-12">
                            <div>
                                <h5>Liên kết</h5>
                            </div>
                            <div class="row pt-3">
                                <div class="col-md-3 col-lg-3">
                                    <img src="./img/vnpost.png" class="img-lk" alt="">
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <img src="./img/icon_giao_hang_nhanh.png" class="img-lk" alt="">
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <img src="./img/ahamove_logo.png" class="img-lk" alt="">
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <img src="./img/icon_snappy.png" class="img-lk" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer end -->


    <script src="/js/bootstrap.min.js"></script>
    <script>
        //slider
        var w = document.documentElement.clientWidth;
        if (w < 976) {
            var slider = document.getElementById('carousel-slider');
            slider.classList.add('pl-0')
        }

        var resizeWeb = function () {
            var w = document.documentElement.clientWidth;
            var slider = document.getElementById('carousel-slider');
            if (w < 976) {
                slider.classList.add('pl-0')
            } else {
                slider.classList.remove('pl-0');
            }
        }
        window.addEventListener("resize", resizeWeb);
    </script>
</body>

</html>