<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:insert="~{common/library :: link}"></th:block>
    <th:block th:insert="~{common/library :: script}"></th:block>
    <title>403</title>
</head>

<body>
<!-- Start header -->
<div th:insert="~{common/header :: .header}"></div>
<!-- header end -->

<div class="content w-100 pt-3">
    <div class="container bg-white d-flex flex-column justify-content-center" style="min-height: 300px">
        <h4 class="text-center text-danger">
            Không thể truy cập
            <i class="far fa-frown"></i>
        </h4>
        <h4 class="text-center text-danger pt-2">Vui lòng kiểm tra lại....</h4>
    </div>
</div>

<!-- footer start -->
<div th:insert="~{common/footer :: .footer}"></div>
<!-- footer end -->
</body>

</html>
